@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model Mission05_pdg13.Models.GradeCalcModel;

<!-- Grade Calculator form -->
<h3>Grade Calculator:</h3>
<div class="pg-text-centered">
    <form method="post">
        <div class="row">
            <div class="column">
                <label>Assignnments:</label>
                <input id="txtAssignments" asp-for="Assignments" /><br />
                <label>Group Project:</label>
                <input id="txtProject" asp-for="Project" /><br />
                <label>Quizzes:</label>
                <input id="txtQuizzes" asp-for="Quizzes" /><br />
                <label>Midterm Exam:</label>
                <input id="txtMidExam" asp-for="MidExam" /><br />
                <label>Final Exam:</label>
                <input id="txtFinalExam" asp-for="FinalExam" /><br />
                <label>Intex:</label>
                <input id="txtIntex" asp-for="Intex" /><br /><br />
            </div>
            <div class="column">
                <br /><br />
                <h5>Final Grade Percentage:</h5>
                <p id="GradePercent"></p>
                <br /><br />
                <h5>Final Letter Grade:</h5>
                <p id="GradeLetter"></p>
            </div>
        </div>
        <input id="btnSend" type="submit" value="Calculate Final Grade" />
        <div asp-validation-summary="All"></div>
    </form>
</div>
